:root {
	--color-green: hsl(75, 94%, 57%);
	--color-white: hsl(0, 0%, 100%);
	--color-grey-700: hsl(0, 0%, 20%);
	--color-grey-800: hsl(0, 0%, 12%);
	--color-grey-900: hsl(0, 0%, 8%);

	--font-family-base: "Inter", sans-serif;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 100%;
}

/* Адаптивные изображения по умолчанию */
img,
picture,
svg {
	display: block;
	max-width: 100%;
}

.page {
	display: grid;
	place-items: center;
	background-color: var(--color-grey-900);
	font-family: var(--font-family-base);
	min-height: 100dvh;   
    padding: 1.5rem;
}

.card {
	background-color: var(--color-grey-800);
	padding: 2.5rem; 
	color: var(--color-white);
	width: 100%; 
    max-width: 23.75rem ; /* 380px */
	border-radius: 0.75rem; /* 12px */
    display: flex;
	flex-direction: column;
	align-items: center;
}


.card__avatar {
	border-radius: 50%;
	margin-bottom: 1.5rem; /* 24px */
	width: 5.625rem; /* 90px */
	height: 5.625rem; /* 90px */
}

.card__info {
    text-align: center;
    margin-bottom: 1.5rem;
}

.card__name {
	font-size: 1.5rem;
	font-weight: 600;
	margin-bottom: 0.5rem;
}
.card__location {
	font-size: 0.875rem;
	font-weight: 600;
	color: var(--color-green);
	margin-bottom: 1.75rem;
}
.card__bio {
	color: #fff;
	font-size: 0.875rem;
	font-weight: 400;
}

.card__links {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 100%;
}

.card__link-button {
	display: block;
	background-color: var(--color-grey-700);
	border: none;
	border-radius: 6px;
	cursor: pointer;
	transition:
		background-color 0.3s ease-in-out,
		color 0.3s ease-in-out;
	color: var(--color-white);
	font-size: 0.875rem; /* 14px */
    font-weight: 600;
	padding: 0.875rem 0; /* 14px */
	text-decoration: none;
	text-align: center;
    width: 100%;
}

.card__link-button:focus,
.card__link-button:hover {
	background-color: var(--color-green);
	color: var(--color-grey-700);
    outline: none; /* Убираем стандартный аутлайн, т.к. есть смена фона */
}


